---
layout: default
title: Meetings
---

<div class="Home">
  <div class="Home-posts">
    <div>
      <p>
        Usamos as 
        <em><a href="https://github.com/curitibabitdevs/curitibabitdevs.org/issues">issues</a></em> do repositório para sugerir 
        temas a serem discutidos nos próximos eventos. Para propor um tema basta adicionar comentários
        em uma <em>issue</em> existente ou criar uma nova mencionado a data do evento.
      </p>
    </div>
    <h2 class="Home-posts-title">Seminários Socráticos</h2>
    {% for post in site.posts %}
      {% if post.type == "socratic" %}
        <div class="Home-posts-post">
          <span class="Home-posts-post-date">{{ post.date | date_to_string }}</span>
          <span class="Home-posts-post-arrow">&raquo;</span>
          <a class="Home-posts-post-title" href="{{ post.url }}">{{ post.title }}</a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <!-- <div class="Home-posts">
    <h2 class="Home-posts-title">Whitepaper Series</h2>
    {% for post in site.posts %}
      {% if post.type == "whitepaper" %}
        <div class="Home-posts-post">
          <span class="Home-posts-post-date">{{ post.date | date_to_string }}</span>
          &raquo;
          <a class="Home-posts-post-title" href="{{ post.url }}">{{ post.title }}</a>
        </div>
      {% endif %}
    {% endfor %}
  </div> -->
</div>
