<footer class="Footer">
  <div class="Footer-border">
    ==============================================================================================================================================================
  </div>
  <div class="Footer-inner">
    <div class="Footer-source">
      <a href="https://github.com/curitibabitdevs/curitibabitdevs.org" target="_blank" rel="noopener nofollow">Código fonte disponível no Github</a>
    </div>
    <div class="Footer-rss">
      <a href="/feed.xml">Feed RSS</a>
    </div>
  </div>
</footer>
